.table-top-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.table-top-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-user {
    display: flex;
    justify-content: flex-start;
}

.h1-product {
    margin-top: 0;
    margin-bottom: 0;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  border-right: none !important; /* Removes vertical lines */
}

/* Keep horizontal lines */
.ant-table-tbody > tr > td {
  border-bottom: 1px solid #ddd !important;
}

.ant-divider {
    margin-left: -30px; /* Shift left to counter layout padding */
    margin-right: -30px; /* Shift right equally */
    width: calc(100% + 60px); /* Extend width beyond the padding */
  }

.ant-btn-primary {
    background-color: #001529;
    border-color: #001529;
  }
  

.ant-btn-primary:hover {
    background-color: #001529;
    border-color: #001529;
  }

.ant-btn-primary:focus {
  background-color: #001529;
  border-color: #001529;
}

.product-card:hover {
    transition-duration: .5s;
    transform: scale(1.02);
}

.product-card {
    transition-duration: .5s;
}